/* Estilos geral para a navegação */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

/* ESTILO PARA CABEÇALHO*/

header{
    padding: 20px 3%;
    background-color: black;
}

header > .interface{

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > .menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgb(141, 133, 133);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: rgb(252, 249, 249);
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 30px;
}

/* Estilos para os botões */
.btn-saibamais button {
  padding: 10px;
  background-color: rgb(136, 136, 230);
  font-size: 18px;
  font-weight: 700;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
}

  /* Estilos para os cabeçalhos*/

  h1, h2, h3 {
    font-family: 'Arial', sans-serif;
  }
  
  /* Estilos para os parágrafos */
  p {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
  }
  
  /* Estilos para as imagens */
  img {
    max-width: 40%;
    border-radius: 50%;
    height: auto;
  }
  
  
  
 
  /* Estilos para as seções */
  .max-width {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .about, .skills, .projects, .footer {
    padding: 50px 0;
  }
  
  /* Outros estilos específicos conforme necessário */
  
  
