/* Estilos para a navegação */
body{
    background-color: goldenrod;
}
.navbar {
    background-color: black;
    color: white;
    display: flex;
    
    margin: 0px;
    padding: 0px;
  }
 
  .navbar a {
    color: white;
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 100vw;
  }
  
  /* Estilos para os cabeçalhos */
  h1, h2, h3 {
    font-family: 'Arial', sans-serif;
  }
  
  /* Estilos para os parágrafos */
  p {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
  }
  
  /* Estilos para as imagens */
  img {
    max-width: 20%;
    border-radius: 50%;
    height: auto;
  }
  
  /* Estilos para os botões */
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .btn-primary {
    background-color: orangered;
  }
  
  /* Estilos para as seções */
  .max-width {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .about, .skills, .projects, .footer {
    padding: 50px 0;
  }
  
  /* Outros estilos específicos conforme necessário */
  